@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.Slideshow {
  width: 100%;
  margin-bottom: 16rem;
  margin-top: 3rem;
}

.slide img {
  width: 20rem;
  height: 15rem;
  margin: 0 auto;
  
}

.slide {
  transform: scale(0.8);
  transition: transform 300ms;
  opacity: 0.7;
}

.activeSlide {
  transform: scale(2);
  opacity: 1;
}

.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}