*{
    margin: 0;
}
.bodySignUpReg {
    background-color: #ADD8E6;
    padding-bottom: 2rem;
    font-family: "Roboto", sans-serif;
  }
  
  .signup-boxReg {
    width: 380px;
    height: 100%;
    padding-bottom: 2rem;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  .formCompReg {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 15px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="button"] {
    width: 200px;
    height: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top:10px;
    padding-bottom:30px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
    align-items: center;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para-2 {
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: -20px;
  }
  .para-2 a {
    color: blue;
  }
  .submitbutton {
    display:flex;
   justify-content:center;
   align-items: center;
  }