* {
    box-sizing: border-box;
}
.OuterBodyAddJob {
    background-color: #add8e6;
    font-family: Roboto;
    display: flex;
    justify-content: center;
}

.header {
    font-family: Roboto Slab;
    font-size: 1.6rem;
    padding-top: 2%;
    padding-bottom: 2%;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.departments{
    color: #77788C;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: fit-content;
    text-align: center;
}
.roundedCorner {
  border: none;
  background-color: #f5f5f5;
  border-radius: 7px;
  margin: 7px;
  display: inline;
}
.row {
    margin: 12px;
}

.mainBody {
    background: white;
  border-radius: 5px;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 20px;
  width: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 3.8px rgba(0, 0, 0, 0.022),
    0px 0px 9.2px rgba(187, 187, 187, 0.032), 0px 0px 17.4px rgba(0, 0, 0, 0.04),
    0px 0px 31px rgba(0, 0, 0, 0.048), 0px 0px 58.1px rgba(0, 0, 0, 0.058),
    0px 0px 139px rgba(0, 0, 0, 0.08);
}
input[type="text"],
select,
textarea,
[type="url"] {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #f5f5f5;
  color: #77788c;
  border-radius: 8px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.submitBTN {
    margin-top: 2%;
    margin-bottom: 2%;
  background-color: #3fb2ff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 12px;
}

.submitBTN:hover {
  background-color: #15a1ff;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.JuitLogo{
    width: 7rem;
    height: 10rem;
}


@media screen and (max-width: 950px) {
    .departments{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
  .departments{
    grid-template-columns: repeat(2, 1fr);
  }
}