.containerProfilePage{
    display: flex;
    flex-direction: column;
}
.ProfileHeadingProfile{
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #add8e6;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.DetailsProfile{
    display: flex;
    width: 100%;
}
.ProfileLeft,.ProfileRight{
    width: 33%;
    height: 75vh;
    display: flex;
    padding-top: 7%;
    
}
.ProfileImageCenter{
    width: 33%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ProfileLeft,.ProfileRight {
    flex-direction: column;
    gap: 5%;
}
.details5{
    display: flex;
    width: 100%;
    gap: 5%;
    padding-left: 10%;
}
.details1{
    display: flex;
    width: 100%;
    gap: 5%;
}
.ProfileHeadingProfile{
    display: flex;
    flex-direction:column;
}
.ProfileTextPage{
    font-size: 1.5rem;
    padding-bottom: 1%;
}
.CGPATitle{
    margin-left: 10%;
}
/* 
.ring {
    border: 20px solid rgb(211, 211, 211);
    position: absolute;
    left: 45%;
    border-radius: 50%;
    border-top: 20px solid #ADD8E6;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
   
  }


  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }  */